<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" type="text/css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
      <div id="header_separator"></div>
      <div id="outer_wrapper">
        <div id="header_title">
          <div id="title">TEGUH ARIFIANTO</div>
          <div id="subtitle">aka teguholica</div>
        </div>
        <div id="search">
          <form action="index.html" method="post">
            <input type="text" placeholder="&#xF002;"/>
          </form>
        </div>
        <div id="menu">
          <div class="separator"></div>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/lab">Lab</a></li>
            <li><a href="/about_me">About Me</a></li>
          </ul>
        </div>
        <div id="content">
          {{ content }}
        </div>
      </div>
		</body>
	</html>
